@model Course.WEB.Models.Entities.Task
@{
    ViewBag.Title = "Решение задачи - " + Model.Name;
}

<h2>@Model.Name</h2>
<script language="JavaScript" type="text/javascript">

var base = 60;
var clocktimer,dateObj,dh,dm,ds,ms;
var readout='';
var h = 1, m = 1, tm = 1, s = 0, ts = 0, ms = 0, init = 0;

function ClearСlock() {
	clearTimeout(clocktimer);
	h=1;m=1;tm=1;s=0;ts=0;ms=0;
	init=0;
	readout='00:00:00.00';
	document.MyForm.time.value=readout;
}

function StartTIME() {
	var cdateObj = new Date();
	var t = (cdateObj.getTime() - dateObj.getTime())-(s*1000);
	if (t>999) { s++; }
	if (s>=(m*base)) {
		ts=0;
		m++;
	} else {
		ts=parseInt((ms/100)+s);
		if(ts>=base) { ts=ts-((m-1)*base); }
	}
	if (m>(h*base)) {
		tm=1;
		h++;
	} else {
		tm=parseInt((ms/100)+m);
		if(tm>=base) { tm=tm-((h-1)*base); }
	}
	ms = Math.round(t/10);
	if (ms>99) {ms=0;}
	if (ms==0) {ms='00';}
	if (ms>0&&ms<=9) { ms = '0'+ms; }
	if (ts>0) { ds = ts; if (ts<10) { ds = '0'+ts; }} else { ds = '00'; }
	dm=tm-1;
	if (dm>0) { if (dm<10) { dm = '0'+dm; }} else { dm = '00'; }
	dh=h-1;
	if (dh>0) { if (dh<10) { dh = '0'+dh; }} else { dh = '00'; }
	readout = dh + ':' + dm + ':' + ds + '.' + ms;
	document.MyForm.time.value = readout;
	clocktimer = setTimeout("StartTIME()",1);
}

function StartStop() {
	if (init==0){
		ClearСlock();
		dateObj = new Date();
		StartTIME();
		init=1;
	} else {
		clearTimeout(clocktimer);
		init=0;
	}
}
window.onload = function() {
    StartStop();
};
</script>
<div id="infaCreate">
    @using (Html.BeginForm("Solve", "Task", FormMethod.Post, new { style = "", name = "MyForm" }))
    {
        <input name=time size=10 value="00:00:00.00">
        @Html.HiddenFor(model => model.Id)
        <div class="form-group">
            @Html.LabelFor(model => model.Condition)
            @Html.DisplayFor(model => model.Condition)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Answer)
            @Html.EditorFor(model => model.Answer, new
       {
           htmlAttributes = new { @class = "form-control", placeholder = "-arctg(2)+πk" },
       })
        </div>
        <br />
            <div>
                <button type="submit" class="btn btn-default btn-mine">
                    <span class="fi-save" style="font-size: 18px;"> Ответить </span>
                </button>
                <a class="btn btn-default myBtn" style="font-size: 18px;"
                   href="@Url.Action("Get", "Topic", new { topicId = Model.TopicId}, null)"> Назад </a>
            </div>
    }
</div>