@model Course.WEB.Models.MyViewModel.CourseViewModel
@using Course.WEB.Helpers
@{
    ViewBag.Title = Model.Course.Name;
}

<h2>Курс - @Model.Course.Name</h2>
<div style="margin: 25px 100px 25px 10px;">
    <div style="margin: 10px;">@Model.Course.Description</div>
    <div style="margin: 5px 10px;">
        <strong>Дисциплина - </strong>
        <a href="@Url.Action("Get", "Discipline", new { disciplineId = Model.Course.Discipline.Id }, null)">@Model.Course.Discipline.Name</a>
    </div>
    <div style="margin: 5px 10px;"><strong>Всего тем в курсе:</strong> @Model.Course.Topics.Count()</div>
</div>
@if (Model.Course.Topics.Count() == 0)
{
    <h3 style="margin: 10px; margin-bottom: 15px;">В этом курсе ещё нет ни одной темы</h3>
}
else
{
    <h3 style="margin: 10px; margin-bottom: 15px;">Темы проходимые в курсе: </h3>
    <div>
        @for (int i = 0; i < Model.Course.Topics.Count(); i++)
        {
            <div style="background: #f7f3ef; margin: 10px; padding: 10px; margin-right: 100px">
                <div>
                    <h4 style="position: relative;">
                        <a href="@Url.Action("Get", "Topic", new { topicId = Model.Course.Topics.ToList()[i].Id }, null)">
                            @(i + 1). @Model.Course.Topics.ToList()[i].Name
                        </a>
                        @if (User.HasPermissionToRedact(Model.Course.Topics.ToList()[i].Creator.Id))
                        {
                            using (Html.BeginForm("Edit", "Topic", FormMethod.Get, new
                            {
                                style = "display: inline-block; margin-right: 5px;"
                            }))
                            {
                                @Html.Hidden("topicId", Model.Course.Topics.ToList()[i].Id)
                                <button type="submit" class="btn btn-default btn-mine"
                                        style="padding: 0px 7px;">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"
                                          style="font-size: 20px;"></span>
                                </button>
                            }
                            using (Html.BeginForm("Delete", "Topic", new { topicId = Model.Course.Topics.ToList()[i].Id }, FormMethod.Post, new
                            {
                                style = "display: inline-block;right: 5px; position: absolute; margin-top: -10px; "
                            }))
                            {
                                <button type="submit" class="btn btn-default btn-mine"
                                        style="padding: 0px 7px;">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"
                                          style="font-size: 20px;"></span>
                                </button>
                            }
                        }
                    </h4>
                </div>
                <div>
                    @Model.Course.Topics.ToList()[i].Description
                </div>
                <div>
                    Задач в теме: @Model.Course.Topics.ToList()[i].Tasks.Count()
                </div>
                @if (Model.TopicsStatistic.FirstOrDefault(x => x.TopicId == Model.Course.Topics.ToList()[i].Id) != null)
                {
                    <div>
                        Средняя сложность задач в теме: @Model.TopicsStatistic.FirstOrDefault(x => x.TopicId == Model.Course.Topics.ToList()[i].Id).AverageComplexity
                    </div>
                }
                @if (Model.Course.Topics.ToList()[i].Creator != null)
                {
                    <span>Автор: </span>
                    @Html.ActionLink(Model.Course.Topics.ToList()[i].Creator.LastName + " " + Model.Course.Topics.ToList()[i].Creator.FirstName,
               "Index", "Manage", new { user_id = Model.Course.Topics.ToList()[i].Creator.Id }, null)
                }
            </div>
        }
    </div>
}
@if (User.HasPermissionToCreate())
{
using (Html.BeginForm("Create", "Topic", FormMethod.Get, new
{
    style = "display: inline-block; margin-left: 10px;"
}))
{
    @Html.Hidden("courseId", Model.Course.Id)
    <button type="submit" class="btn btn-default btn-mine"
            style="">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"
              style="font-size: 20px;"></span> Добавить тему в курс
    </button>
}
}