@model Course.WEB.Models.UserInformation
@{
    ViewBag.Title = Model.Login;
}

<h2>@Model.UserName</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>@Model.Role</h4>
    <hr />

</div>
<div style="margin: 25px 100px 25px 10px; padding: 25px 100px 25px 10px; background: #f7f3ef;">
    <div style="margin: 5px 10px;"><h4><strong>Коэффициент правильных ответов: </strong>@Model.StudentStatistic.PartOfCorrectAnswers</h4></div>
    <div style="margin: 5px 10px;"><h4><strong>Коэффициент не правильных ответов: </strong>@Model.StudentStatistic.PartOfIncorrectAnswers</h4></div>
    <div style="margin: 5px 10px;"><h4><strong>Логит уовня знаний: </strong>@Model.StudentStatistic.LogitOfLevelKnowledge</h4></div>
    <div style="margin: 5px 10px;"><h4><strong>Всего решено задач: </strong>@Model.Ratings.Count</h4></div>
    <div style="margin: 5px 10px;"><h4><strong>Всего решено задач верно: </strong>@Model.Ratings.Count(x => x.IsSolved)</h4></div>
</div>

<table id="studentStatistic" class="display cell-border" cellspacing="0" style="border: 1px solid rgb(17, 17, 17); width=100%">
    <thead>
        <tr>
            <th>
                Задача
            </th>
            <th>
                Тема
            </th>
            <th>
                Дата
            </th>
            <th>
                Время решения (секунд)
            </th>
            <th>
                Ответ
            </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var rating in Model.Ratings)
    {
        <tr>
            <td>
                @rating.Task.Name
            </td>
            <td>
                @rating.Task.Topic.Name
            </td>
            <td>
                @rating.DateOfSolution
            </td>
            <td>
                @rating.ActualTime
            </td>
            <td>
                @{ var answer = rating.IsSolved ? "Верный" : "Не верный";}
                @answer
            </td>
        </tr>
        
    }
    </tbody>
</table>


@section Scripts {
    <script>
        $(function () {
            $("#studentStatistic").dataTable();
        })
    </script>
}